<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="C:\Users\asu11697\Documents\Visual Studio 2013\Projects\SinapsisGEO\SinapsisWS\logs\log %date{dd MMM yyyy}.xml" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  
  <connectionStrings>
    <add name="SinapsisEntities" connectionString="metadata=res://*/SinapsisModel.csdl|res://*/SinapsisModel.ssdl|res://*/SinapsisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Sinapsis2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogEntities" connectionString="metadata=res://*/Log.LogModel.csdl|res://*/Log.LogModel.ssdl|res://*/Log.LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Sinapsis2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="IdEmpresa" value="2" />
  </appSettings>
  <system.web>
   
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    
    <webServices>
      <soapExtensionTypes>
        <add type="SinapsisWS.Log4NetSoapExtension, SinapsisWS" priority="1" group="1" />
      </soapExtensionTypes>
    </webServices>
    
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SinapsisWS.FuturaService">
        <endpoint address="" behaviorConfiguration="SinapsisWS.FuturaServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="SinapsisWS.FuturaService" />
      </service>
      <service name="SinapsisWS.FuturaServices">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" contract="SinapsisWS.IFuturaServices" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SinapsisWS.FuturaServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>